include tpl/data.pug
doctype html
html(
  lang="es"
)
  head
    include tpl/head.pug
  body
    .hello.phone-size-30.tablet-size-50.mid-size-80.lap-size-120
      span.m-r
        | Lumen Digital
      i.fa.fa-code
    include tpl/footer.pug
